<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RexText</title>
  <style>
    
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
.output_messages{
  height: 400px;
  width: 100%;  
  overflow-y: auto;
  overflow-x: auto;
  }
  .online_list{
    height: 400px;
    overflow-y: auto;
  }
  
      
  </style>
  <link href="/css/materialize.css" rel="stylesheet" >
  <script src="/js/chat.js"></script>
</head>