
  <nav>
    <div class="nav-wrapper teal darken-2">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile onlogout" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/create">Create</a></li>
        <li><a href="/create">Log in</a></li>
      </ul>

      <ul id="nav-mobile onlogin" class="right hide-on-med-and-down">
        <li><a href="/profile">Profile</a></li>
        <li><a href="/">Log out</a></li>
      </ul>
    </div>
  </nav>
        