<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head.ejs')%>
<body>
   <%-include('./partials/nav.ejs')%>

   <!--this is a fixed floating button-->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large red" href="/create">
      <i class="large material-icons">mode_edit</i>
    </a>
  </div>
    

<%- include('./partials/footer.ejs') %> 
