
<%- include('partials/head'); -%>
<body>
  <header>
  <!-- nav bar start -->

  <%- include('partials/nav'); -%>
  <!-- nav bar end -->
</header>
       

  
<%- include('partials/footer'); -%>

</body>
</html>